.gitignore 

/kube-prometheus-stack
deployment.md
GEMINI.md



_rendered_platform*
_rendered_platform.yaml
_rendered_platform.utf8.yaml
/tools/bin/
/terraform/tfplan
kube-prometheus-stack-65.5.1.tgz
argocd_app_fix.md
troubleshooting.md
/terraform/.terraform
/terraform/.terraform.lock.hcl
/terraform/.terraform.tfstate
/terraform/.terraform.tfstate.backup
/terraform/terraform.tfstate

/tools